.imgf {
    display: block;
   margin-left:80px;
   width: 190px;
   height: 270px;
    border-radius: 8px;
  }
.imgs
  {
    display: block;
   margin-left:350px;
   width: 190px;
   height: 270px;
    border-radius: 8px;
    margin-top: -265px;
  }
  .imgt
  {
    display: block;
    margin-left:590px;
    width: 190px;
    height: 270px;
     border-radius: 8px;
     margin-top: -270px;
  }
  .imgfo{
    display: block;
    margin-left:880px;
    width: 190px;
    height: 270px;
     border-radius: 8px;
     margin-top: -270px;
  }
  .hero-image {
    background-image: url("image.jpg");
    background-color: #cccccc;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: -25px;

   }
   .btn btn-info
   {
       color: white;
   }
   .ho
   {
       color: white;
   }