* {
  margin: 0;
  padding: 0;
}

.n-container {
  /* background-color: #cccccc; */
  width: 60vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.imgf {
    /* display: block; */
   margin: 1rem;
   width: 250px;
   /* display: flex; */
   /* height: 270px; */
    border-radius: 10px;
  }

  .hero-text {
    width: 60vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: #c96262; */
  }
/* .imgs
  {
    display: block;
   margin-left:350px;
   width: 190px;
   height: 270px;
    border-radius: 8px;
    margin-top: -265px;
  }
  .imgt
  {
    display: block;
    margin-left:590px;
    width: 190px;
    height: 270px;
     border-radius: 8px;
     margin-top: -270px;
  }
  .imgfo{
    display: block;
    margin-left:880px;
    width: 190px;
    height: 270px;
     border-radius: 8px;
     margin-top: -270px;
  } */
  .hero-image {
    background-image: url("../images/image.jpg");
    background-color: #cccccc;
    height: calc(100vh - 56px - 56px);
    /* height: 100vh; */
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    /* margin-top: -25px; */
    display: flex;
    align-items: center;
   }
   /* .btn btn-info
   {
       color: white;
   }
   .ho
   {
       color: white;
   } */

   footer {
    /* text-align: center; */
    padding: 1rem 0;
    background-color:darkslategrey;
    color:whitesmoke;
  }
  .ftr {
    width: 60vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (max-width: 1080px) {
    .n-container {
        width: 100vw;
    }
    .hero-image {
        height: auto;
    }
    .hero-text {
        width: 100vw;
        padding: 0 1rem;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .ftr {
        width: 100vw;
        padding: 0rem 1rem;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 1880px) {
  .hero-image {
      height: auto;
  }
}